<%- model_class = Game -%>
<div class="page-header">
  <h1><%= @game.name %></h1>
  <hr />
  <h2><%= @first_round.movie %> (<%= @first_round.score %>)</h2>
  <hr />
  <h3><%= @best_player.name %> won with a differential of <%= @best_diff %></h3>
</div>
